/* Utils
------------------------------------------------------------*/
.u-container {
  position: relative;
  z-index: 2;
  background-color: $main-bg-cl;
}

/* fade content */
[data-fadein] {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;

  &.--show {
    opacity: 1;
  }
}

/* only device */
.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1024px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
